* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    padding-top: 400px;
    justify-content: center;
}


.container {
    width: 100%;
    background-color: pink;
    border: solid 1px ;
}

/* .container-content {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.container-content h1{
    font-size: large;
    text-align: center;
    font-family: 'Bungee', cursive;
}

.button {
    padding-right: 100px;
}


button {
    width: 3rem;
    height: 3rem;
    border-radius: 20px;
    border: none;
}

section {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.text-question {
    width: 60%;
    height: 80px;
    display: flex;
    font-family: 'Bungee', cursive;
    align-items: center;
    justify-content: center;
    background-color: rebeccapurple;
}

article {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.text-box {
    width: 80%;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    display: flex;
    font-family: 'Bungee', cursive;
    justify-content: center;
    background-color: rebeccapurple;
}
