* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    padding-top: 270px;
    justify-content: center;
}


.container {
    width: 100%;
    box-shadow: 10px 10px 20px rgb(0,0,0,0.9);
    border: none;
    border-radius: 20px;
}

/* .container-content {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.container-content h1{
    padding-top: 20px;
    font-size: larger;
    text-align: center;
    font-family: 'Bungee', cursive;
}

section {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.text-question {
    width: 60%;
    height: 80px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    border: none;
}

article {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.text-box {
    width: 80%;
    height: 100px;
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    display: flex;
    font-family: 'Bungee', cursive;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(197, 169, 224);
    box-shadow: 10px 10px 20px rgb(0,0,0,0.6);
    border: none;
}


.button {
    padding-right: 100px;
}


.button button {
    width: 3rem;
    height: 3rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(197, 169, 224);
}

/* Levl .container */

.level-container h1 {
    text-align: center;
    font-family: 'Bungee', cursive;
}

.level-container {
    width: 80%;
    height: 39%;
    background-color: rgb(197, 169, 224);
    position: fixed;
    border-radius: 15px;
}

.level-button {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.level-button button{
    width: 70%;
    height: 50px;
    font-family: 'Bungee', cursive;
    font-size: larger;
    box-shadow: 10px 10px 20px rgb(0,0,0,0.6);
    border: none;
    border-radius: 30px;
}

.level-button button:hover {
    background-color: rgb(169, 124, 211);
}

.exit-button {
    display: flex;
    justify-content: center;
}

.exit-button button{
    width: 20%;
    height: 30px;
    font-family: 'Bungee', cursive;
    font-size: larger;
    box-shadow: 10px 10px 20px rgb(0,0,0,0.6);
    border: none;
    border-radius: 25px;
}